@model EntityLayer.Concrete.ViewModels.MenuItemViewModel
@{
    ViewData["Title"] = "editRepeat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-lg-8 mb-4 order-0 mx-auto">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-12">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Menu Elemanı Düzenleme Sayfası 🎉</h5>
                            <p class="mb-4">

                            </p>
                            <form asp-action="editRepeat" asp-controller="AdminRepeat3" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input asp-for="menuItem.ID" hidden type="text" class="form-control" id="defaultFormControlInput" aridescribedby="defaultFormControlHelp">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="defaultFormControlInput" class="form-control-label">Başlık</label>
                                    <input asp-for="menuItem.Title" type="text" class="form-control" id="defaultFormControlInput" aridescribedby="defaultFormControlHelp">
                                    <div class="text-danger text-sm ms-2">
                                        @Html.ValidationMessageFor(x => x.menuItem.Title)
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="menuItem.CategoryId">Category</label>
                                    <select asp-for="menuItem.CategoryId" class="form-control">
                                        <option value="">Select a category</option>
                                        @foreach (var category in Model.Categories)
                                        {
                                            if (category.ID == Model.menuItem.CategoryId)
                                            {
                                                <option value="@category.ID" selected="selected">@category.Title</option>
                                            }
                                            else
                                            {
                                                <option value="@category.ID">@category.Title</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="menuItem.CategoryId" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="stateSelect" class="form-label">Durum</label>
                                    <select asp-for="menuItem.State" class="form-select">
                                        <option value="true">Aktif</option>
                                        <option value="false">Pasif</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="example-text-input" class="form-control-label">Resim</label>
                                    <input asp-for="menuItem.Repeat3Image" class="form-control" type="text" readonly>
                                    <input asp-for="menuItem.Image" class="form-control" type="file">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="defaultFormControlInput" class="form-control-label">Açıklama</label>
                                    <textarea id="aboutDesc" rows="10" cols="50" asp-for="menuItem.Description" class="form-control" type="text"></textarea>
                                    <div class="text-danger text-sm ms-2">
                                        @Html.ValidationMessageFor(x => x.menuItem.Description)
                                    </div>
                                </div>



                                <button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

